@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=LXGW+WenKai+Mono+TC&family=LXGW+WenKai+TC&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@font-face {
    font-family: "UbuntuMono Nerd Font";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("fonts/UbuntuMonoNerdFont-Regular.ttf") format("truetype");
}

@plugin "@tailwindcss/typography";
@theme{
    --font-bree: "Bree Serif";
    --font-noto-sans: "Noto Sans";
    --font-noto-serif: "Noto Serif";
    --font-noto-sans-sc: "Noto Sans SC";
    --font-noto-serif-sc: "Noto Serif SC";
    --font-noto-sans-tc: "Noto Sans TC";
    --font-noto-serif-tc: "Noto Serif TC";
    --font-ibm-plex-serif: "IBM Plex Serif";
    --font-rubik: "Rubik";
    --font-catus: "Cactus Classical Serif", serif;
    --font-chiron: "Chiron Sung HK", serif;
    --font-wenkai: "LXGW WenKai TC", cursive;
}


@layer components {
    .tag {
        @apply underline
    }

    .tags {
        @apply flex flex-wrap gap-1
    }
}

.markdown {
}

.markdown .prose {
    @apply w-full mx-auto overflow-x-auto;
    max-width: 65ch;
}


.markdown .prose ul {
    @apply w-[var(--max-width-prose)];
    /*@apply w-full*/
}


.markdown .prose h2 {
    counter-increment: h2counter;
    position: relative;
}

.markdown .prose h2::before {
    content: counter(h2counter) ". ";
    text-align: right;
    color: #555;
}

.markdown .prose h3 {
    counter-increment: h3counter;
    position: relative;
}

.markdown .prose h3::before {
    content: counter(h2counter) ". " counter(h3counter) ". ";
    text-align: right;
    color: #555;
}


.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    @apply w-full text-left;
}

.markdown .prose p {
    @apply w-full text-left;
    font-family: 'Rubik', "UbuntuMono Nerd Font", "Noto Sans SC", "Noto Sans TC", serif;
}

.markdown .prose pre {
    @apply w-full max-w-[var(--max-width-prose)] mx-auto overflow-x-auto;
}

.markdown .prose figure {
    @apply w-full max-w-[var(--max-width-prose)] mx-auto overflow-x-auto;
}

.none {
    all: unset;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

body {
    font-family: "Rubik", serif, "Noto Sans SC", "Noto Sans TC";
    @apply leading-relaxed text-base
}

::selection {
    @apply bg-blue-800 text-white;
}

.dark .nav-links a {
    color: #fff;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

pre button.rehype-pretty-copy span.ready,
pre button.rehype-pretty-copy span.success {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

pre button.rehype-pretty-copy span.ready {
    animation: pulse 1.5s infinite ease-in-out;
}

pre button.rehype-pretty-copy.rehype-pretty-copied span.success {
    animation: fade-in 0.4s ease forwards;
}


/*.markdown {*/
/*    @apply leading-tight;*/
/*    font-family: "Noto Sans", "Noto Sans SC", "Noto Sans TC", sans-serif;*/
/*}*/

/*.markdown h1 {*/
/*    @apply text-3xl font-extrabold;*/
/*}*/

/*.markdown h2 {*/
/*    @apply text-2xl font-bold;*/
/*}*/

/*.markdown h3 {*/
/*    @apply text-xl font-bold;*/
/*}*/

/*.markdown p {*/
/*    @apply leading-relaxed indent-8 mb-4 md:text-lg lg:text-xl;*/
/*}*/