---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import {getCollection} from "astro:content";

const allPosts = await getCollection('blog')
---

<BaseLayout pageTitle="Blogs">
    <p class="text-lg font-[Times] italic">
        This page showcases a personal blog built with Astro, featuring posts about books, culture, and learning in
        public.
    </p>
    <p class="text-lg font-[Times] italic">
        Readers can browse entries by title, release date, and tags such as "blogging" and "Astro."
    </p>
    {allPosts.filter((post) => post.data.published !== false).map((post) =>
        (
                <BlogPost slug={post.id.split('/').pop()
                    ?.replace(/\.md$/, '')
                    ?.toLowerCase()}
                          post={post.data} id={post.id}/>
        )
    )}
</BaseLayout>
