---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import Header from "../components/Header.astro";
import {getCollection} from "astro:content";

const allPosts = await getCollection('blog')
---

<BaseLayout pageTitle="Blogs">
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post, index) => (
                <BlogPost url={`/posts/${post.id}/`} title={post.data.title}/>
        ))}
    </ul>
</BaseLayout>
