---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting';
---

<BaseLayout pageTitle="Index">
    <div class="flex flex-col items-center mt-5">
        <div class="prose">
            <h1>Make Rust Great</h1>
            <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]}/>
        </div>
    </div>
</BaseLayout>
