---
const navigations = [
    {
        link: "/",
        title: "Home",
    },
    {
        link: "/blog/",
        title: "Blog",
    },
    {
        link: "/tags/",
        title: "Tags",
    },
    {
        link: "/about/",
        title: "About",
    }
]
---

<div class="flex flex-wrap justify-center mt-2">
    {navigations.map(navigation => (
            <a href={navigation.link}
               class="underline mx-3 px-1 text-2xl font-bold">{navigation.title}</a>
    ))}
</div>
