---
const navigations = [
    {
        link: "/",
        title: "Home",
    },
    {
        link: "/blog/",
        title: "Blog",
    },
    {
        link: "/tags/",
        title: "Tags",
    },
    {
        link: "/about/",
        title: "About",
    }
]
---

<div>
    {navigations.map(navigation => (
            <a href={navigation.link}
               class="underline px-1 text-lg">{navigation.title}</a>
    ))}
</div>
